* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    /* padding: 10px; */
    box-shadow: -30px 20px -1px black;
}

#parent_div {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    border-radius: 50%;
}

.child_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 8px 8px 12px #112;
    animation: animate linear infinite 8s;
}

.child_div p {
    margin: 0;
    font: 50px bold;
}

@keyframes animate {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    50% {
        background-color: orange;
    }

    75% {
        background-color: yellowgreen;
    }

    100% {
        background-color: red;
    }
};